body {
  background-color: #EEEEEE;

}

h1 {
  color: #EEEEEE;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}


.header {
  background-color: #222831;
  padding: 20px;
  text-align: center;
}

footer {
  background-color: #777;
  padding: 30px;
  text-align: center;
  color: white;
}


div.gallery {
  margin: 40px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
  position: relative;
  top: 100px;
  left: 230px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}